.main-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main);
  background-color: var(--main);
  color: var(--fixed);
  padding: 0.9rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 30px var(--main);
  }
}

.sec-button {
  @extend .main-button;
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--border);
  &:hover {
    box-shadow: 0 0 30px var(--border);
  }
}
