:root {
  --background: #eee;
  --background-alt: #fff;
  --text: #3f3f3f;
  --text-alt: #777;
  --main: #a80030;
  --main-mono: #f10146;
  --fixed: #eee;
  --border: #bfbfbf;
  &.dark {
    --background: #181818;
    --background-alt: #282828;
    --text: #eee;
    --text-alt: #999;
  }
}
